body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.card {
  border: 1px;
  border-style: solid;
  border-color: rgb(219, 200, 200);
  border-radius: 3px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgb(207, 188, 188);
  width: 80vw;
}
.card-header {
  background: rgb(223, 205, 205);
  color: rgb(32, 24, 24);
  padding: 10px;
}
h5 {
  margin: 10px;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 100;
}
button {
  color: white;
  background: rgb(80, 65, 65);
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1em;
}
#get {
  color: white;
  background: rgb(9, 128, 240);
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1em;
}
#post {
  color: white;
  background: rgb(9, 172, 109);
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1em;
}
#delete {
  color: white;
  background: rgb(240, 44, 9);
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1em;
}
#update {
  color: rgb(37, 26, 26);
  background: rgb(248, 204, 6);
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1em;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: auto;
}
hr {
  margin: 10px;
  border: solid;
  border-width: 1px;
  border-color: rgb(219, 188, 188);
  display: block;
  width: 90vw;
}
.card-body {
  display: flex;
  justify-content: right;
  width: min-content;
  z-index: 10;
}
pre {
  z-index: -1;
}
